.container {
  justify-content: space-between;
  background: #b2bec3;
  border-radius: 2px;
  text-align: center;
  margin: 20px;
  flex: 10%;
  min-width: 25vw;
  z-index: 0;
}

.location_name {
  font-size: 3vw;
}

.location_temp {
  font-size: 2vw;
}

.location_weather {
  font-size: 2vw;
  display: flex;
  text-align: center;
  justify-content: center;
  justify-items: center;
}

.remove_button {
  color: #ff4757;
  z-index: 1;
  font-size: 2vw;
}

.seperator {
  cursor: pointer;
}

.remove_icon {
  cursor: pointer;
}
